/*parrafos / encabezados /texto*/

.parrafoHome {
    margin-top: 5%;
    text-align: center;
    color: rgb(255, 255, 255);

}

h1,
h2,
h3 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 5%;
    font-size: 30px;

}

.gallery-description {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 5%;
    font-size: 24px;


}

